In [1]:
import pandas as pd
import datetime
from utils.get_data import get_data

from recommandation.recommand_general import recommand_general

from recommandation.recommand_with_genre import recommand_with_genres

from recommandation.recommand_with_movie import recommand_with_movies

from recommandation.recommand_with_userid import recommand_user_id_ensemble

In [2]:
# get merged data
main_raw=get_data()

# using data after 2009
df_recent=main_raw[main_raw['year'] > 2010]

# using data that has more than 5 reviews
using_movies=df_recent.value_counts('title')[df_recent.value_counts('title') > 5].index

df_main=df_recent[df_recent['title'].isin(using_movies)].reset_index(drop=True)

In [3]:
print('total raitings : ',len(df_main))
print('total movies : ',len(df_main['title'].unique()))
print('total users : ',len(df_main['userId'].unique()))

total raitings :  28006
total movies :  1555
total users :  232

In [4]:
recommand_general(df_main,10)

                                               title       est
0                   Shawshank Redemption, The (1994)  4.327758
1             One Flew Over the Cuckoo's Nest (1975)  4.312833
2         Life Is Beautiful (La Vita è bella) (1997)  4.293469
3                                Pulp Fiction (1994)  4.267878
4                                Shining, The (1980)  4.266512
5  Dr. Strangelove or: How I Learned to Stop Worr...  4.242125
6                              Godfather, The (1972)  4.235324
7                                  Goodfellas (1990)  4.231486
8               Road Warrior, The (Mad Max 2) (1981)  4.229380
9                                  Fight Club (1999)  4.226923

In [5]:
recommand_with_genres(df_main,10,['Animation','Fantasy','Comedy'])

,title,est,genres
0,Toy Story 3 (2010),4.070262,"[Adventure, Animation, Children, Comedy, Fanta..."
1,"Monsters, Inc. (2001)",4.003437,"[Adventure, Animation, Children, Comedy, Fantasy]"
2,FLCL (2000),3.945537,"[Animation, Comedy, Fantasy, Sci-Fi]"
3,Tangled (2010),3.943426,"[Animation, Children, Comedy, Fantasy, Musical..."
4,Toy Story 2 (1999),3.941340,"[Adventure, Animation, Children, Comedy, Fantasy]"
5,Toy Story (1995),3.904892,"[Adventure, Animation, Children, Comedy, Fantasy]"
6,The Lego Movie (2014),3.894699,"[Action, Adventure, Animation, Children, Comed..."
7,Inside Out (2015),3.870341,"[Adventure, Animation, Children, Comedy, Drama..."
8,Enchanted (2007),3.832264,"[Adventure, Animation, Children, Comedy, Fanta..."
9,South Park: Imaginationland (2008),3.806915,"[Animation, Comedy, Fantasy]"

In [36]:
recommand_with_genres(df_main,10,['Animation','Fantasy','Comedy'])['title'].values

array(['Toy Story 3 (2010)', 'Monsters, Inc. (2001)', 'FLCL (2000)',
       'Toy Story (1995)', 'Tangled (2010)', 'The Lego Movie (2014)',
       'Toy Story 2 (1999)', 'Enchanted (2007)', 'Inside Out (2015)',
       'South Park: Imaginationland (2008)'], dtype=object)

In [6]:
recommand_with_movies(df_main,10,recommand_with_genres(df_main,10,['Animation','Fantasy','Comedy'])['title'].values)

                                               title       est
0  Star Wars: Episode VI - Return of the Jedi (1983)  4.155897
1                                 Toy Story 3 (2010)  4.098187
2                                          Up (2009)  4.067044
3                              Lion King, The (1994)  4.066339
4                                      WALL·E (2008)  4.023669
5                     Guardians of the Galaxy (2014)  4.019690
6                                     Aladdin (1992)  3.957057
7                                 Toy Story 2 (1999)  3.948687
8                                Finding Nemo (2003)  3.939781
9                                 Ratatouille (2007)  3.917375

In [44]:
df_main[df_main['title'].isin(recommand_with_genres(df_main,10,['Animation','Fantasy','Comedy'])['title'].values)].value_counts('userId')

userId
525    8
610    7
534    7
380    7
509    7
      ..
344    1
426    1
439    1
443    1
292    1
Length: 124, dtype: int64

In [7]:
recommanded_movies=recommand_user_id_ensemble(df_main,525,200)

In [8]:
recommanded_movies.head(10)

,title,est,point,svd_est_point,movie_simillarity_point,genre_simillarity_point
0,Planet of the Apes (1968),3.931498,452,157.0,186.0,109.0
1,Goodfellas (1990),4.218699,350,182.0,168.0,NaN
2,Apocalypse Now (1979),4.139282,308,188.0,NaN,120.0
3,Reservoir Dogs (1992),4.185267,301,191.0,110.0,NaN
4,"Lord of the Rings: The Return of the King, The...",4.040932,299,186.0,NaN,113.0
5,Into the Wild (2007),4.077579,290,173.0,NaN,117.0
6,Predator (1987),4.137054,290,175.0,115.0,NaN
7,Barton Fink (1991),3.897785,286,130.0,156.0,NaN
8,The Raid: Redemption (2011),3.929355,286,94.0,192.0,NaN
9,"Boondock Saints, The (2000)",4.032937,285,170.0,NaN,115.0

In [51]:
recommanded_movies[recommanded_movies['title'].apply(lambda x: True if int(x[-5:-1]) > 2010 else False)]

,title,est,point,svd_est_point,movie_simillarity_point,genre_simillarity_point
11,Untitled Spider-Man Reboot (2017),4.051808,269,185.0,84.0,NaN
12,The Raid: Redemption (2011),3.941168,264,72.0,192.0,NaN
13,Rogue One: A Star Wars Story (2016),3.896654,260,154.0,106.0,NaN
16,Django Unchained (2012),3.991938,245,135.0,NaN,110.0
21,Horrible Bosses 2 (2014),3.783471,219,100.0,119.0,NaN
28,Fury (2014),3.749398,203,128.0,NaN,75.0
29,"Fast Five (Fast and the Furious 5, The) (2011)",3.274114,201,NaN,193.0,8.0
36,The Artist (2011),3.967920,198,198.0,NaN,NaN
50,Neighbors (2014),3.575212,189,NaN,189.0,NaN
59,"Secret Life of Walter Mitty, The (2013)",3.948571,183,183.0,NaN,NaN
63,The Interview (2014),3.638975,181,NaN,181.0,NaN
67,"Fast & Furious 6 (Fast and the Furious 6, The)...",3.518342,179,NaN,179.0,NaN
70,Daddy's Home (2015),3.422174,178,NaN,178.0,NaN
75,Logan (2017),4.110865,176,176.0,NaN,NaN
81,"World's End, The (2013)",3.425275,172,NaN,172.0,NaN
83,Pacific Rim (2013),3.685698,170,NaN,170.0,NaN
84,"Three Billboards Outside Ebbing, Missouri (2017)",4.169485,169,169.0,NaN,NaN
86,Snowpiercer (2013),3.554625,168,NaN,124.0,44.0
88,Thor: Ragnarok (2017),3.883047,167,167.0,NaN,NaN
89,"Expendables 2, The (2012)",3.517985,166,NaN,166.0,NaN
92,Seven Psychopaths (2012),3.542249,165,NaN,165.0,NaN
97,John Wick: Chapter Two (2017),3.940462,162,162.0,NaN,NaN
98,The Amazing Spider-Man 2 (2014),3.176605,162,NaN,162.0,NaN
101,This Is the End (2013),3.453108,161,NaN,161.0,NaN
102,John Wick (2014),3.870823,159,159.0,NaN,NaN
105,Chronicle (2012),3.626482,158,NaN,158.0,NaN
106,Inherent Vice (2014),3.673084,157,NaN,157.0,NaN
107,The Lego Batman Movie (2017),3.844632,156,156.0,NaN,NaN
111,Hacksaw Ridge (2016),3.864659,153,153.0,NaN,NaN
112,The Revenant (2015),3.875206,152,152.0,NaN,NaN
115,"Big Short, The (2015)",4.065450,150,150.0,NaN,NaN
116,Baby Driver (2017),4.060754,149,149.0,NaN,NaN
124,Star Trek Beyond (2016),3.676982,145,NaN,145.0,NaN
128,Here Comes the Boom (2012),3.431184,143,NaN,143.0,NaN
130,Arrival (2016),3.943683,142,142.0,NaN,NaN
131,Get Hard (2015),3.622590,142,NaN,142.0,NaN
136,"Hunt, The (Jagten) (2012)",3.984797,138,138.0,NaN,NaN
144,About Time (2013),3.970056,132,132.0,NaN,NaN
146,"Change-Up, The (2011)",3.363845,131,NaN,131.0,NaN
153,Furious 7 (2015),3.167473,128,NaN,128.0,NaN
155,Thor: The Dark World (2013),3.447842,127,NaN,127.0,NaN
156,The Raid 2: Berandal (2014),3.675717,126,NaN,126.0,NaN
167,Safety Not Guaranteed (2012),3.677078,121,NaN,121.0,NaN
172,The Hateful Eight (2015),3.775403,118,NaN,118.0,NaN
174,"Watch, The (2012)",3.410627,117,NaN,117.0,NaN
176,Ted (2012),3.445584,116,NaN,116.0,NaN
183,Godzilla (2014),3.081453,113,NaN,113.0,NaN
195,"Batman: The Dark Knight Returns, Part 2 (2013)",3.863949,107,107.0,NaN,NaN
199,RoboCop (2014),3.273154,105,NaN,105.0,NaN