In [1]:
import pandas as pd
import datetime
from utils.get_data import get_data

from recommandation.recommand_general import recommand_general
from recommandation.recommand_with_genre import recommand_with_genres

In [2]:
# get merged data
main_raw=get_data()

# using data after 2009
df_recent=main_raw[main_raw['year'] > 2010]

# using data that has more than 5 reviews
using_movies=df_recent.value_counts('title')[df_recent.value_counts('title') > 5].index
df_main=df_recent[df_recent['title'].isin(using_movies)].reset_index(drop=True)

In [6]:
recommand_general(df_main,5)

                                          iid       est
0            Shawshank Redemption, The (1994)  4.323980
1      One Flew Over the Cuckoo's Nest (1975)  4.310052
2         Monty Python's Life of Brian (1979)  4.290256
3                         Shining, The (1980)  4.278712
4  Life Is Beautiful (La Vita è bella) (1997)  4.275371